<div class="px-4 py-5 my-5 text-center ">
  <h4 style="font-style: italic;">We're leaders in</h4>
  <h1>Create Digital Recuitment </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"  style="font-size: medium;">Base in surry Hills,the creative hub of Suydney we are surround by creativity and thate refliect in the type of jobs we recruit for</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/aboutus">FIND OUT MORE ABOUT US</button>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>
<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h6 class="text-white">Subscribe to our Job Seeker Mailing List </h6>
    <input type="email" class="btn btn-outline-secondary btn-lg px-4" placeholder="Enter Your Emial Address">
</div>
</div>
<div class="b-example-divider"></div>
